@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  /* CORES */
  --color-bg: #eff5ff;
  --color-border: #d6d9e6;
  --color-denim: #022959;
  --color-grey: #9699aa;
  --color-light-blue: #abbcff;
  --color-light-grey: #d6d9e6;
  --color-orange: #ffaf7e;
  --color-pink: #f9818e;
  --color-purple: #483eff;
  --color-red-errors: #ee374a;
  --color-sky-blue: #bee2fd;
  --color-very-light-blue: #f8f9ff;
  --color-white: #ffffff;

  /* ESTILO DE FONTE */

  --font-ubuntu: "Ubuntu", sans-serif;

  /* TAMANHOS DE FONTE */
  --font-size-heading: 2rem;
  --font-size-g: 1rem;
  --font-size-m: 0.875rem;
  --font-size-p: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--font-ubuntu);

  min-height: 100vh;

  background-color: var(--color-bg);
}

.container {
  display: flex;
  align-items: center;
  gap: 6.25rem;

  border-radius: 1rem;
  padding: 1rem;

  background-color: var(--color-white);
}

.sumario-desktop {
  background-color: var(--color-purple);
  background-image: url("../assets/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;

  border-radius: 0.5rem;
}

.sumario__steps {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-top: 2.5rem;
  margin-left: 2rem;
  margin-right: 89px;
  margin-bottom: 300px;
}

.sumario__step {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sumario__step-number {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;

  width: 33px;
  height: 33px;
  text-align: center;

  padding: 5px 9px;
  border-radius: 50%;
  border: 1px solid white;

  font-size: var(--font-size-m);

  background-color: transparent;
  color: var(--color-white);
}

.sumario__step__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: var(--font-size-m);
}

.sumario__step__title {
  text-transform: uppercase;
  color: var(--color-light-blue);
}

.sumario__step__description {
  font-weight: 700;
  color: var(--color-white);
  text-transform: uppercase;
}

.highlighted-number {
  background-color: var(--color-sky-blue);
  color: var(--color-denim);
  border: none;
}

.estado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;

  margin-right: 100px;
  margin-top: 56px;
}

.estado__text {
  display: flex;
  flex-direction: column;

  gap: 11px;
}

.estado__title {
  font-size: var(--font-size-heading);
  color: var(--color-denim);
}

.estado__description {
  color: var(--color-grey);
  font-size: var(--font-size-g);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input > span {
  color: var(--color-denim);
  font-size: var(--font-size-m);
  font-weight: 600;
}

input {
  color: var(--color-denim);
  padding: 15px 16px;

  border: 1px solid var(--color-border);
  border-radius: 0.5rem;

  cursor: pointer;
}

input::placeholder {
  color: var(--color-grey);
  font-weight: 600;
}

input:focus {
  outline: 1px solid var(--color-purple);
}

input[type="submit"] {
  width: fit-content;
  align-self: flex-end;

  margin-top: 52px;
  padding: 14px 25px;

  font-size: var(--font-size-g);
  font-weight: 500;

  background-color: var(--color-denim);
  color: var(--color-white);
}

.estado__plans {
  display: flex;
  gap: 1.125rem;
}

.estado__plan {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 2.4375rem;

  padding: 1.25rem 1rem;

  border-color: var(--color-border);
}
